@tailwind components;
@tailwind utilities;

:root {
  --col-bg-accent: #f8f9fa;
  --col-secondary: #353a49;
  --col-primary: #1a73e8;

  --fs-small: 0.5rem;
  --fs-regular: 0.75rem;
  --fs-subtitle: 1.25rem;
  --fs-sm-title: 1.875rem;
  --fs-title: 2.19rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);

  color: var(--col-secondary);
}

h1 {
  font-size: var(--fs-sm-title);
  font-weight: var(--fw-bold);
}